# Dependencies
**/node_modules/

# Build Output
**/dist/
**/build/

# Environment Variables
**/.env
**/.env.local
.env.production

# Data storage local
**/data/*.json

# logs
logs/
*.log

# OS & Editor Files
.DS_Store
.vscode/
.idea/
.claude/
.eslintcache